<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/styles.css" />
    <title>Note taker - Editor</title>
  </head>
  <body>
    <main>
      <section id="main-container">
        <div id="main-header">
          <p>Note Taker - Editor</p>
          <div id="header-right">
            <img class="save inactive" src="./assets/images/save.webp" alt="" />
          </div>
        </div>
        <div id="main-body">
          <div id="note-list"></div>
          <div id="note-editor">
            <form id="note-form" action="/api/notes" method="POST">
              <input
                name="titleData"
                class="note-input"
                id="note-title"
                data-input="title"
                type="text"
                placeholder="Note title"
              />
              <input
                name="bodyData"
                class="note-input"
                id="note-body"
                data-input="body"
                type="text"
                placeholder="Note body"
              />
            </form>
          </div>
        </div>
      </section>
    </main>
    <script src="./assets/js/script.js"></script>
  </body>
</html>
