<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/styles.css" />
    <title>Note taker - Note 1</title>
  </head>
  <body>
    <main>
      <section id="main-container">
        <div id="main-header">
          <p>Note Taker - Preview</p>
          <div id="header-right">
            <img class="save inactive" src="./assets/images/save.webp" alt="" />
            <button class="add">+</button>
          </div>
        </div>
        <div id="main-body">
          <div id="note-preview-list"></div>
          <div id="note-preview">
            <h1 id="note-preview-title"></h1>
            <h2 id="note-preview-body"></h2>
          </div>
        </div>
      </section>
    </main>
    <script src="./assets/js/preview.js"></script>
  </body>
</html>
