<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="./assets/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Note taker - Preview</title>
  </head>
  <body>
    <main>
      <section id="main-container">
        <div id="main-header">
          <p>Note Taker - Preview</p>
          <div id="header-right">
            <i class="fa-solid fa-floppy-disk save inactive"></i>
            <i class="fa-solid fa-plus add"></i>
          </div>
        </div>
        <div id="main-body">
          <div id="note-preview-list"></div>
          <div id="note-preview">
            <p id="note-preview-title"></p>
            <textarea id="note-preview-body"></textarea>
          </div>
        </div>
      </section>
    </main>
    <script src="./assets/js/preview.js"></script>
  </body>
</html>
