/* This CSS is for the main application */

/* -------------------- Root */
* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  touch-action: manipulation; /* This removes double tap to zoom */
}

body {
  background-color: rgba(219, 221, 240, 0.1);
}
main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------- Main container */
@keyframes fade {
  0% {
    filter: blur(7px);
  }
  100% {
    filter: blur(0);
  }
}
#main-container {
  width: 70%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}

#main-container.first-launch {
  animation: fade 0.2s ease-in-out;
}
/* -------------------- Main header */
#main-header {
  height: 40px;
  padding: 10px 10px;
  background-color: rgb(73, 207, 162);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main-header p {
  user-select: none;
  font-size: 15px;
  color: white;
}

#main-header button {
  cursor: pointer;
  color: white;
  font-size: 30px;
  background-color: transparent;
  border: none;
}

.save {
  cursor: pointer;
  display: flex;
  width: 20px;
  filter: invert(100);
}

.save.inactive {
  display: none;
}

.save:hover,
.add:hover {
  transform: scale(1.2);
}

.save:active,
.add:active {
  transform: scale(1);
  transform: scale(1);
}

.add {
  color: white;
  cursor: pointer;
}

#header-right {
  display: flex;
  align-items: center;
}

/* -------------------- Main body */

#main-body {
  height: 400px;
  display: flex;
}
/* ------- Note list */
#note-list {
  overflow-y: scroll;
  border-right: 1px solid rgb(185, 185, 185);
  width: 30%;
  transition: 0.1s all ease-in-out;
}

#note-list a:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.1s all ease-in-out;
}
#note-list a {
  user-select: none;
}

.note {
  color: black;
  text-decoration: none;
}

.note.active {
  background-color: rgba(0, 0, 0, 0.1);
}

/* ------- Note list CSS (This is for the endpoint '/notes') */
#note-preview-list {
  overflow-y: scroll;
  border-right: 1px solid rgb(185, 185, 185);
  width: 30%;
  transition: 0.1s all ease-in-out;
}

#note-preview-list a {
  user-select: none;
}

#note-preview-list a:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.1s all ease-in-out;
}

.note {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  padding: 10px 10px;
  border-bottom: 1px solid rgb(185, 185, 185);
}

.note img {
  position: relative;
  width: 16px;
  z-index: 1;
}

.singleNote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.singleNote-container i:hover {
  transform: scale(1.2);
}

.singleNote-container i:active {
  transform: scale(1);
}

.trash {
  color: red;
  position: absolute;
  right: 5px;
  z-index: 3;
  font-size: 15px;
  pointer-events: all;
  cursor: pointer;
}

/* ------- Note body */
#note-editor {
  width: 80%;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.note-input {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 3px 0;
  position: absolute;
}

.note-input:nth-child(1) {
  width: 90%;
  font-size: 30px;
}

.note-input:nth-child(2) {
  font-size: 15px;
  width: 90%;
  height: 303px;
  resize: none;
  padding: 10px 10px;
  background-color: rgba(0, 0, 0, 0.025);
  border-radius: 5px;
  top: 40px;
}

/* ------- Note preview CSS (This is for the endpoint '/notes') */
#note-preview {
  width: 80%;
  font-family: inherit;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

#note-preview p:nth-child(1) {
  font-size: 30px;
}

#note-preview p:nth-child(2) {
  font-size: 15px;
}

#note-preview-title,
#note-preview-body {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 3px 0;
}

#note-preview-body {
  font-size: 15px;
  width: 90%;
  height: 303px;
  resize: none;
  border-radius: 5px;
  top: 40px;
}
